<form method="POST">
<? if (isset($error)): ?>
	<p class="error"><?=$error;?></p>
<? endif; ?>
    <font class="font_2">
        Ключ доступа<br /><div style="height: 5px;"></div>
        </font>
    <input type="password" name="key"  class="font_2" style="width: 200px;"/><br/><div style="height: 5px;"></div>
    <input type="submit" class="font_2" value="Войти" style="width: 200px;"/><br/><br/><br/><br/><br/><br/>
</form>