Сортировать по:
<br />
<a href="<?=ADMIN_RATING_URL;?>">Рейтинг по убыванию</a> | 
<a href="<?=ADMIN_RATING_ASC_URL;?>">Рейтинг по возрастанию</a> | 
<a href="<?=ADMIN_RATING_COUNT_URL;?>">Количество проголосовавших</a>
<br /><br /><h1>Статьи</h1><br/>
<?=render_rating($rating_list);?>