img {
    border: 0px solid #FFFFFF;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    cursor: default;
    font: 12px Verdana;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: default;
    font: 12px Verdana;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: url("../img/bg.png") repeat-x top;
}

.font_1,
.a .font_1,
.font_1 a {
    font: 24px Verdana;
    color: #3d85be;
}

.font_2,
.a font_2,
.font_2 a {
    font: 14px Verdana;
    color: #2e3d6e;
}

.font_3,
.a font_3,
.font_3 a {
    font: 12px Arial;
    color: #1e72b5;
}

.font_4,
.a font_4,
.font_4 a {
    font: 18px Arial;
    color: #FFFFFF;
    padding-left: 88px;
    padding-top: 4px;
}

.font_5,
.a font_5,
.font_5 a {
    font: 12px Arial;
    color: #2a6493;
}

.ul_article {
    list-style-type: decimal-leading-zero;
    margin-left: 25px;
    font-size: 11.5px;
    color: #949494;
}

.srok_naloga {
    font-size: 0.9em;
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    margin-bottom: 30px;
}

.srok_naloga th {
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    padding: 7px 7px;
    vertical-align: bottom;
    text-align: left;
    font: normal 0.9em/1em 'pf_din_text_cond_promedium', Arial, Helvetica, sans-serif;
    background: #ececec;
}

.srok_naloga td {
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    padding: 8px 10px;
    vertical-align: top;
}

.srok_naloga1 {
    width: 10%;
}

.srok_naloga2 {
    width: 60%;
}

.srok_naloga3 {
    width: 15%;
}

.srok_naloga4 {
    width: 10%;
}

.srok_naloga5 {
    width: 5%;
}

.toggle_comments {
    padding: 19px;
    color: black;
}

.cutebutton {
    display: inline-block;
    padding: 10px 20px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
    border: none;
    background: #76bde2;
    transition: all 500ms;
    color: black;
    border: 1px solid #ebf6ff;
    margin-left: 10px;
    font-weight: bold !important;
    border-radius: 3px;
    color: white !important;
}

.cutebutton:hover {
    text-decoration: none;
    transition: all 500ms;
}

table {
    padding: 0;
    border-spacing: 0 0;
    width: 100%;
    height: 100%;
}

#main .header {
    width: 100%;
    height: 150px;
}

#main .header .logo {
    text-align: left;
    vertical-align: middle;
    padding-left: 60px;
}

#main .body {
    padding: 0;
    border-spacing: 10px 10px;
    width: 100%;
    height: 100%;
}

#main .body .sidebar {
    width: 200px;
    background: url("../img/side_bg.png") repeat-y right;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#main .body .content {
    background: url("../img/caption.png") no-repeat left top;
    text-align: left;
    vertical-align: top;
}

#main .body .content table.non-full {
    width: 400px;
}

#main .footer {
    height: 75px;
    background: url('../img/bg_bottom.png') no-repeat bottom right;
    padding: 5px;
    text-align: left;
    vertical-align: bottom;
    font-size: 12px;
}

#main .counter {
    font-size: 9px;
    vertical-align: top;
}

#main .counter.active {
    color: brown;
    font-weight: bold;
}

#main .error {
    color: #f00;
}